@keyframes moveBg {
  from {
    background-position: center 20%;
  }

  to {
    background-position: center 55%;
  }
}


@keyframes shakeBg {
  0% {
    background-position: 50% 50%;
    background-size: 210%;
  }

  25% {
    background-position: 55% 45%;
    background-size: 205%
  }

  50% {
    background-position: 50% 55%;
    background-size: 200%
  }

  75% {
    background-position: 55% 45%;
    background-size: 210%;
  }

  100% {
    background-position: 50% 50%;
    background-size: 210%;
  }
}

@keyframes shake {
  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(10deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-10deg);
  }
}