.grid__persons {
  display: flex;
  height: 75px;
  margin-bottom: $gutter;
  grid-column: 2 / 3;
  grid-row: 2 / 2;

  @include breakpoint($large) {
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    margin-bottom: 0;
  }
}

.grid__person {
  flex: 1;
  margin: 0 $gutter / 2;

  @include breakpoint($large) {
    flex: 0 0 15%;
    margin: 0 0 $gutter / 2 0;
  }

  background-image: url('/assets/img/smf.jpg');
  background-repeat: no-repeat;
  background-size:300% auto;
  position:relative;
}

.grid__pablo {
  background-position: 55% 55%;
  background-size: 450% auto;
}

.grid__nacho {
  background-position: 25% 15%;
  background-size: 340% auto;
}

.grid__oscar {
  background-position: 85% 40%;
  background-size: 350% auto;
}

.grid__david {
  background-position: 35% 80%;
  background-size: 380% auto;
}

.dim {
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}