---
layout: layouts/base.njk
section: contacto
---

<section class="grid__item grid__main">
    <h1 data-title="{{title}}">{{ title }}</h1>
    <a class="back link-decorated" href="/">← Volver a portada</a>
    {{ layoutContent | safe }}
      <form name="contact" method="POST" data-netlify="true" class="form">
        <div class="escondido">
          <input name="direccion">
        </div>
        <div class="form__item">
          <label>Nombre: <input type="text" name="name"></label>
        </div>
        <div class="form__item">
          <label>e-mail: <input type="email" name="email"></label>
        </div>
        <div class="form__item">
          <label>Mensaje: <textarea name="message"></textarea></label>
        </div>
        <div class="form__item">
          <button type="submit" class="form-button">Enviar</button>
        </div>
    </form>
</section>