---
layout: layouts/base.njk
section: fotos
---
<section class="grid__item grid__main__big fotos">
    <div class="fotos__header">
    <h1 data-title="{{title}}">{{ title }}</h1>
    <a class="back link-decorated" href="/">← Volver a portada</a>
    
  <div class="image-grid">

    <div class="image-grid__item"><a href="/assets/img/large/foto1-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto1-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto2-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto2-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto3-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto3-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto4-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto4-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto5-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto5-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto6-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto6-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto7-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto7-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto8-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto8-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto9-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto9-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto10-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto10-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto11-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto11-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto12-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto12-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto13.jpg" class="glightbox"><img src="/assets/img/foto13.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto14-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto14-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto15-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto15-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto16-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto16-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto17-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto17-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto18-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto18-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto19-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto19-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto20-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto20-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto21-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto21-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto22-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto22-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto23-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto23-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto24-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto24-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto25-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto25-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto26-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto26-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto27-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto27-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/large/foto28-large.jpeg" class="glightbox"><img src="/assets/img/medium/foto28-medium.jpeg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/medium/foto29-medium.jpeg" class="glightbox"><img src="/assets/img/medium/foto29-medium.jpeg" alt=""></a></div>
    
  </div>
</section>