---
layout: layouts/base.njk
section: fotos
---
<section class="grid__item grid__main__big fotos">
    <div class="fotos__header">
    <h1 data-title="{{title}}">{{ title }}</h1>
    <a class="back link-decorated" href="/">← Volver a portada</a>
    
  <div class="image-grid">
    <div class="image-grid__item"><a href="/assets/img/foto1.jpg" class="glightbox"><img src="/assets/img/foto1.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto2.jpg" class="glightbox"><img src="/assets/img/foto2.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto3.jpg" class="glightbox"><img src="/assets/img/foto3.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto4.jpg" class="glightbox"><img src="/assets/img/foto4.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto5.jpg" class="glightbox"><img src="/assets/img/foto5.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto6.jpg" class="glightbox"><img src="/assets/img/foto6.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto7.jpg" class="glightbox"><img src="/assets/img/foto7.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto8.jpg" class="glightbox"><img src="/assets/img/foto8.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto9.jpg" class="glightbox"><img src="/assets/img/foto9.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto10.jpg" class="glightbox"><img src="/assets/img/foto10.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto11.jpg" class="glightbox"><img src="/assets/img/foto11.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto12.jpg" class="glightbox"><img src="/assets/img/foto12.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto13.jpg" class="glightbox"><img src="/assets/img/foto13.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto14.jpg" class="glightbox"><img src="/assets/img/foto14.jpg" alt=""></a></div>
    <div class="image-grid__item"><a href="/assets/img/foto15.jpg" class="glightbox"><img src="/assets/img/foto15.jpg" alt=""></a></div>
  </div>
</section>