---
layout: layouts/base.njk
section: home
---

<section class="grid__item grid__info grid__rotate">
    <a vhref="/info" class="link-layer"></a>
    <div class="info scroll__parent">
        <h1 data-title="La banda">La banda</h1>
    </div>
</section>
<section class="grid__item grid__fotos">
    <a href="/fotos" class="link-layer"></a>
    <h1 data-title="Fotos">Fotos</h1>
</section>
